// Colors
$primary: #2d3e4e;
$secondary: #07c06a;
$disabled: #aaaaaa;

// Breakpoints
$xl-screen: 1680px;
$lg-screen: 1440px;
$md-screen: 1024px;
$xs-screen: 768px;

// Transition timing function
$transition-time: 0.3s;

// Spacing
$grid-gap: 18px;
