@import "./variables";
@import "./mixins.scss";

body {
  background-color: $primary;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

body,
p,
button,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
  @extend .fluid-text-h1;
}

p {
  @extend .fluid-text-p;
  line-height: 24px;
  letter-spacing: 0.5px;
}

button {
  border: none;
  cursor: pointer;
  @extend .fluid-text-p;
}
